
body {
    font-family: Arial, sans-serif;
    background-color: #504f4f;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

#user-container {
    max-width: 600px;
    margin: 20px auto;
}

/* User card styling */
.user-card {
    background: #586967;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Error message styling */
.error {
    color: red;
    text-align: center;
}
